.event-card {
    width: 350px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .event-card:hover {
    /* transform: translateY(-6px); */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  }
  
  .event-card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .event-card-body {
    padding: 16px;
  }
  
  .event-card-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
  }
  
  .event-card-info {
    font-size: 14px;
    color: #666;
    margin: 4px 0;
  }
  
  .event-card-price {
    font-size: 16px;
    color: #3A86FF;
    font-weight: 500;
    margin-top: 12px;
  }

  .event-card-link{
    text-decoration: none;
    font-size: 14px;
    color: #3A86FF;
    font-weight: 500;
    margin-top: 8px;
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  .event-card-link:hover {
    color: #2f6ee5;
    text-decoration: underline;
  }

  .book-now-btn {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    background-color: #3A86FF;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-now-btn:hover {
    background-color: #2f6ee5;
  }