.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.logo h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  color: #3A86FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.link-item {
  text-decoration: none;
  font-size: 16px;
  color: #1A1A1A;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.link-item:hover {
  color: #3A86FF;
  transform: translateY(-2px);
}


.link-item.active {
  color: #3A86FF;
  font-weight: 600;
  border-bottom: 2px solid #3A86FF;
}

.menu{
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #3A86FF;
}


.user {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.user-info {
  background-color: #3A86FF;
  color: white;
  padding:  1px 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: background 0.3s;;
}

.user-info:hover {
  background-color: #2F6CD1;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 150px;
  padding: 10px 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0); /* default hidden */
}

.dropdown li {
  list-style: none;
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
  transition: background 0.2s;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}


@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    gap: 20px;
    transition: clip-path 0.3s ease-in-out, opacity 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Hidden by default */
    opacity: 0;
    pointer-events: none;
    z-index: 100;
  }

  .nav.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
    pointer-events: auto;
  }

  .nav li {
    text-align: center;
    padding: 10px 0;
  }

  .menu {
    display: block;
  }

  .user {
    position: relative;
    margin: 0 auto;
  }

  .dropdown {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
  }
}
